
.ipynb_checkpoints/L7_DownloadGooglePic-checkpoint.ipynb
*.jpg
.ipynb_checkpoints/L7.1_DownloadGooglePic-checkpoint.ipynb
.ipynb_checkpoints/L7.2_DownloadTextContent-checkpoint.ipynb
.ipynb_checkpoints/L7.3_CrawlerTextPractice-checkpoint.ipynb
